//color
$base-color: #fff;
$font-main: #000;
$btn-color: #C6FFFF;
$btn-bgColor: #95BFBF;
$btn-text: #666;
$question-bgColor: #F3F3F3;
$back-btnColor: #D4D4D4;
$back-btnBgColor: #949494;
$footer-btnBgColor: #BCFFFF;
$footer-btnColor: #fff;
$result-title: #88cfea;