@use "../foundation/variable.scss" as var;
@use "../foundation/mixin.scss" as mix;

@include mix.sp {
    .result_contents {
        text-align: center;

        h2 {
            color: var.$result-title;
            font-size: 20px;
            margin: 43px auto 20px auto;
        }
    }

    .result_txt {
        display: block;
        width: 75%;
        margin: 0 auto;
        text-align: left;
        background-color: var.$question-bgColor;
        padding: 20px 10px;

        p:not(:first-of-type) {
            margin-top: 10px;
        }

        span {
            display: block;
        }
    }

    img {
        width: 50%;
    }
}