@use "../foundation/variable.scss" as var;
@use "../foundation/mixin.scss" as mix;


.header_img {
    width: 100%;
}

.header_appeal-txt {
    margin: 20px auto 0 auto;
    text-align: center;

    p {
        line-height: 30px;
    }
}